.img-circle img {
  // width: 500px;
  border-radius: 0%;
  border: none;
}
.container {
  max-width: 1000px;
}

.btn-primary {
  color: #fff; 
  background-color: rgb(100, 57, 255, 0.9) !important ;
  border-color: #007bff;
}