.branch {
  display: flex;

  .homeContainer {
    flex: 6;
    // .link {
    //   color: white;
    //   margin-top: 0px;
    // }
    .widgets,
    .charts {
      display: flex;
      flex-wrap: wrap;
      padding: 20px;
      gap: 20px;
    }
    .charts {
      padding: 5px 20px;
    }
  }
}
