.wrap {
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid silver;
  padding-bottom: 14px;
  div {
    flex: 1;
    h4 {
      margin-top: 10px;
    }
  }
  .information,
  .buttons {
    display: flex;
    justify-content: space-between;
  }

  img {
    margin-top: 5px;
    max-width: 80px;
    object-fit: cover;
    margin-left: 40px;
  }

  .remove {
    color: gray;
    border: none;
    background-color: white;
    // height: 120px;
    // line-height: 120px;
    // width: 30px;
    // margin-right: -220px;
  }

    .stepper-input {
      display: flex;
      justify-content: space-between;
      color:gray;
      max-width: 120px;
      margin: 0 auto;
  
      .increment,
      .decrement {
        height: 24px;
        width: 24px;
        border: 1px solid gray;
        text-align: center;
        box-sizing: border-box;
        border-radius: 50%;
        text-decoration: none;
        color: inherit;
        font-size: 24px;
        line-height: 22px;
        -moz-user-select: none;
        -webkit-user-select: none;
  
        &:hover {
          color: #4e73df;
          border-color: #4e73df;
        }
  
        &:active {
          color: white;
          border-color: #4e73df;
          // background: lighten($primary-green, 15%);
        }
      }
    }
}
